@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Naville';
  src: 
       url('/fonts/naville/naville.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Regular';
  src: 
       url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #349390;
  --general-background: #ffffff;
  --general-foreground: #349390;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #349390;
    --foreground: #ededed;
    --general-background: #ffffff;
    --general-foreground: #349390;
  }
}

body {
  color: var(--general-foreground);
  background: var(--general-background);
  font-family: 'Poppins Regular', Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

.custom-placeholder::placeholder {
  color: rgba(255, 255, 255, 0.8);  /* White with slight opacity */
  opacity: 1;
}

.bg-talentia {
  /* cursor: pointer; */
  background-color: #349390 !important;
}

.bg-forms {
  /* cursor: pointer; */
  background-color: #244c56 !important;
}

.buttons-color {
  background-color: #244c56 !important;
}

.talentia-text {
  color: #244c56 !important;
  font-family: 'Poppins Bold', sans-serif !important;
}

.talentia-button{
  background-color: #244c56 !important;
}

button {
  /* background-color: #244c56 !important; */
}

.talentia-footer{
  background-color: #244c56 !important;
}

